<h1>質問一覧画面</h1>
<%= search_form_for @q do |f| %>

  <%= f.label :title_or_body, '検索ワード' %>
  <%= f.search_field :title_or_body_cont %>

  <%= f.submit %>
<% end %>

<div class="container">
  <tr>
    <td>
      <%= render @questions %>
    </td>
  </tr>
</div>